<DModalBody
  @title="brightcove.modal_title"
  @subtitle="brightcove.modal_subtitle"
  class="brightcove-upload-modal"
>
  <h3>{{i18n "brightcove.file"}}</h3>
  <p>
    {{#if file}}{{fileName}} ({{fileSize}}){{/if}}
    <label
      class="btn"
      disabled={{uploading}}
      title={{i18n "brightcove.select_file"}}
    >
      {{d-icon "film"}}&nbsp;{{i18n "brightcove.select_file"}}
      <input
        disabled={{uploading}}
        type="file"
        style="visibility: hidden; position: absolute;"
        {{on "change" (action "fileChanged")}}
      />
    </label>
  </p>

  <h3>{{i18n "brightcove.title"}}</h3>
  <p>
    <Input @value={{videoName}} disabled={{uploading}} />
  </p>

  {{#if uploading}}
    {{uploadProgress}}
  {{else}}
    <DButton
      @action="upload"
      @icon="upload"
      @label="upload"
      @disabled={{uploadDisabled}}
    />
  {{/if}}
</DModalBody>