<DModal
  @title={{i18n "brightcove.modal_title"}}
  @subtitle={{i18n "brightcove.modal_subtitle"}}
  class="brightcove-upload-modal"
  @closeModal={{@closeModal}}
>
  <h3>{{i18n "brightcove.file"}}</h3>
  <p>
    {{#if this.file}}{{this.fileName}} ({{this.fileSize}}){{/if}}
    <label
      class="btn"
      disabled={{this.uploading}}
      title={{i18n "brightcove.select_file"}}
    >
      {{d-icon "film"}}&nbsp;{{i18n "brightcove.select_file"}}
      <input
        disabled={{this.uploading}}
        type="file"
        style="visibility: hidden; position: absolute;"
        {{on "change" (action "fileChanged")}}
      />
    </label>
  </p>

  <h3>{{i18n "brightcove.title"}}</h3>
  <p>
    <Input @value={{this.videoName}} disabled={{this.uploading}} />
  </p>

  {{#if this.uploading}}
    {{this.uploadProgress}}
  {{else}}
    <DButton
      @action={{this.upload}}
      @icon="upload"
      @label="upload"
      @disabled={{this.uploadDisabled}}
    />
  {{/if}}
</DModal>